.container{
  width: 950px;
  background-color: silver;
  margin: 0px auto;
  padding: 20px;
}
.top-nav {
  height: 150px;
  background-color: green;
  margin-bottom: 20px;
}
.side-nav {
  height: 300px;
  width: 200px;
  background-color: blue;
  display: inline-block;
  margin-right: 20px;
}
.main {
  height: 400px;
  width: 700px;
  background-color: red;
  display: inline-block;
  vertical-align: top;
  padding-right: 25px;
}
.sub-content {
  height: 200px;
  width: 210px;
  background-color: yellow;
  margin-top: 15px;
  margin-left: 15px;
}
#advertisement {
  height: 120px;
  width: 660px;
  background-color: purple;
  margin-top: 25px;
  margin-left: 15px;
}
.row {
  /* TODO - what should go here? */
  display: flex;
}

