*{
  margin: 0;
  padding: 0;
}

.row{
  display: flex;
  justify-content: space-between;
}

.col{
  flex: 1;
  background-color: turquoise;
  padding: 10px;
  margin: 10px;
}

.col-2{
  flex: 2;
  background-color: turquoise;
  padding: 10px;
  margin: 10px;
}

.col-3{
  flex: 3;
  background-color: turquoise;
  padding: 10px;
  margin: 10px;
}

